h1 {
  color: green;
}

html {
  width: 100%;
}

body {
  text-align: center;
  margin: auto;
  width: 100%
}

.sideBar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 0;
  overflow-x: hidden;
  cursor: pointer;
}

.viewTable {
  margin-left: 200px;
  padding: 0px 10px;
}

.previousQuery {
  text-align: left;
  font-size: 1.5em;
  margin-left: 225px;
  margin-top: 60px;
}

a{
  cursor: pointer;
}