body {
  margin: auto;
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: 'Avenir';
  font-size: 12px;
  text-align: center;
  color: #777;
}

input[type=text] {
  height: 12px; 
  width: 200px; 
  padding: 10px;
  border-radius: 4px;
  border: 0.5px solid #ebebeb;
  transition: box-shadow .1s;
  margin: 10px;
}

input[type=text]:focus {
  outline: none;
}

.connectionBoxWrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoAndConnectionBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.connectionBox {
  height: 320px; 
  width: 500px; 
  padding: 10px;
  border-radius: 10px;
  border: 0.5px solid #ebebeb;
  display: flex;
  flex-direction: column;
}


.connectionBoxTop {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.connectionBoxLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  margin-left: 10px;
}

.connectionBoxRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.connectionBoxBottom {
  padding-top: 10px;
}

#submit-button {
  background-color: #69D2E7;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}
#submit-button:focus {
  outline: none;
}

.navBar {
  position: fixed;
  overflow: hidden;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: #333;
}

.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navBar li {
  float: right;
  display: inline-block
}

.navBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 17px 18px;
  text-decoration: none;
}

.navBar li a:hover {
  background-color: #111;
}

.svgicons {
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

.queryBox {
  height: 150px;
  margin-left: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.queryBox form{
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

textarea {
  height: 100px; 
  width: 90%; 
  padding: 10px;
  border-radius: 4px;
  border: 0.5px solid #ebebeb;
  transition: box-shadow .1s;
  margin: 30px;
  font-size: 1.1em;
}
textarea:focus {
  outline: none;
}

.queryButton {
  padding: 10px;
}


.logoNoText{
  margin: 10px;
  padding-left: 10px;
  float: left;
}